<h3>{{subsection_name}}</h3>

{% if add_included_sections %}

<p>
    The following sections dive deeper into some relevant aspects of the time series.
The remaining sections address the following topics.
Some analysis are based on forecasting experiments.
These were carried out using a ridge regression model trained for one-step ahead forecasting.

</p>

<ul>
    {% for point in included_sections %}

    <li>{{point}}</li>

    {% endfor %}
</ul>
{% endif  %}

{% if add_failed_sections %}

<p>
    Other analysis were carried out besides the ones shown in the report.
But, these were not deemed significant enough to be included.

</p>

<ul>
    {% for point in failed_sections %}
    <li>{{point}}</li>
    {% endfor %}
</ul>

&nbsp;

{% endif  %}


